.enlace{
    /* Arriba: 10px
    Abajo: 5px
    Derecha: 5px
    Izquierda: 10px */

    padding: 10px 5px 5px 10px;
    background-color: #BBD6FC;

    /* Propiedad para quitar la linea inferior del enlace */
    text-decoration: none;

    /* Propiedad para redondear las esquinas */
    border-radius: 20px;

    font-family: cursive;
    font-size: 16px;
    color: #010B18;
}

/* 
    - EJERCICIO

Del footer se desea agregar los siguientes espacios internos en los enlaces: 

    - Los primeros dos enlaces, debe contar con: Arriba: 10px, Izquierda: 7px, Derecha: 6px, Abajo: 15px (Forma Abreviada)

    - Los ultimos enlaces, deben contar con: Arriba: 20px, Abajo: 6px, Izquierda: 15px y Derecha: 8px (Forma específica)

    - El footer (<footer><footer>) debe contar con un espacio interno de 30px en general para los 4 lados

    - Agregar un fondo para los enlaces y para el footer

*/

footer{
    padding: 30px;
}


.pelicula{
    /* Espacio externo de 10px */
    margin: 10px;

    /* Espacio interno de 10px */
    padding: 10px;

    /* Aplicamos un fondo color negro */
    background-color: #000000;

    /* Ancho del articulo */
    width: 300px;

    /* Esquinas redondeadas */
    border-radius: 20px;
}

.pelicula-imagen{

    /* Ancho de la imagen */
    width: 300px;

    /* Altura de la imagen */
    height: 300px;

    /* Propiedad de CSS para que la imagen no sea desproporcional */
    object-fit: cover;
}

.grupo-1 h2{
    color: white;
    font-size: 28px;
    font-family: cursive;
}

.grupo-1 span{
    color: #9E9E9E;
    font-size: 13px;
    font-family: cursive;
}

.grupo-2{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: cursive;
    margin-top: 10px;
}

.grupo-2-iconos{
    display: flex;
    color: #F03711;
}

.icono-numero{
    display: flex;
    margin: 0 6px 0 6px;
}

#carita-triste{
    /* font-size: 80px; */
}